@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-chivo-mono);
}

h1,h2,h3,h4,h5 {
  font-family: var(--font-chivo-mono);
  font-weight: 700;
  /* font-family: var(--font-alfa-slab-one); */
}